<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chapters</key>
	<array>
		<dict>
			<key>name</key>
			<string>Chapter 00 Section 1</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH00/SECTION_1/CH00_Aclitimize_BD1_10-6-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 00 Section 2</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH00/SECTION_2/CH00_Instructions_BD2_10-6-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 00 Section 3</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH00/SECTION_3/CH00_BD1_10-6-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 01 Section 1</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH01/SECTION_1/CH01_BD1_10-6-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 02 Section 1</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH02/SECTION_1/CH02_BD1_10-6-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 02 Section 2</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH02/SECTION_2/CH02_BD2_09-30-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 02 Section 3</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH02/SECTION_3/CH02_BD5_09-15-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 03 Section 1</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH03/SECTION_1/CH03_BD1_10-6-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 04 Section 1</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH04/SECTION_1/CH04_BD1_10-6-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 04 Section 3</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH04/SECTION_3/CH04_BD5_09-15-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 04 Section 5</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH04/SECTION_5/CH04_BD10_09-15-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 05 Section 1</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH05/SECTION_1/CH05_BD1_10-6-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 05 Section 3</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH05/SECTION_3/CH05_BD4_09-15-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 05 Section 4</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH05/SECTION_4/CH05_BD9_09-15-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 05 Section 5</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH05/SECTION_5/CH05_BD11_09-15-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 06 Section 1</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH06/SECTION_1/CH06_BD1_10-6-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 06 Section 3</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH06/SECTION_3/CH06_BD3_09-16-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 07 Section 1</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH07/SECTION_1/CH07_BD1_10-6-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 07 Section 3</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH07/SECTION_3/CH07_BD4_09-15-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 07 Section 4</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH07/SECTION_4/CH07_BD7_09-16-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 07 Section 5</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH07/SECTION_5/CH07_BD8_09-15-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 07 Section 6</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH07/SECTION_6/CH07_BD10_09-15-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 08 Section 1</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH08/SECTION_1/CH08_BD1_10-6-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 08 Section 3</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH08/SECTION_3/CH08_BD4_10-20-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 08 Section 4</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH08/SECTION_4/CH08_BD5_09-15-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 09 Section 1</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH09/SECTION_1/CH09_BD1_10-6-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 09 Section 5</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH09/SECTION_5/CH09_BD7_9-30-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 10 Section 1</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH10/SECTION_1/CH10_BD1_10-15-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 10 Section 2</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH10/SECTION_3/CH10_BD3_10-14-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 10 Section 3</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH10/SECTION_4/CH10_BD5_10-6-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 10 Section 4</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH10/SECTION_5/CH10_BD7_10-6-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 10 Section 5</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH10/SECTION_6/CH10_BD9_10-15-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 10 Section 6</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH10/SECTION_6/CH10_BD11_09-15-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 11 Section 1</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH11/SECTION_1/CH11_BD1_10-6-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 11 Section 2</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH11/SECTION_2/CH11_BD3_09-15-11.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chapter 12 Section 1</string>
			<key>url</key>
			<string>https://gapinternationalvideos.s3.us-east-2.amazonaws.com/_FINAL/CH12/SECTION_1/CH12_BD1_10-6-11.mp4</string>
		</dict>
	</array>
</dict>
</plist>
